<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><h1>Project Dandelion</h1></a>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">About</a></li>
      <li class="nav-item"><a href="{{ site.github.repository_url }}">Github</a></li>
      <li class="nav-item"><a href="{{ site.github.repository_url }}/issues">File an Issue</a></li>
    </ul>
  </nav>

</header>
