{% for item in include.content reversed %}
    {% capture modulo %}{{ forloop.index0 | modulo:3 }}{% endcapture %}
    {% if modulo == '0' or forloop.first %}
      <div class="row">
    {% endif %}
        <div class="column column-33">
            <div class="preview-panel">
              {% if item.relative %}
                <a href="{{ item.relative | relative_url }}">
              {% endif %}
              {% if item.external %}
                <a href="{{ item.external }}">
              {% endif %}
                    <img src="{{ item.preview | relative_url }}">
                </a>
                <div class="post-date">{{ item.date | date: '%B, %Y' }}</div>
                <div class="post-title">{{ item.title }}</div>
           </div>
        </div>
    {% if modulo == '2' or forloop.last %}
      </div>
    {% endif %}
{% endfor %}
